<!DOCTYPE html>
<html lang=”pt-br” xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Processo Estágio</title>
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<div class="container-fluid">
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/cadastrarVendedor">Cadastrar vendedor</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/vendedores">Listar vendedores</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<div class="container" style="width:45rem">
		<br>
		<div class="row">
			<div class="col">
				<div class="card text-center">
					<div class="card-header card-title bg-primary">
						<h3 style="color: white">Cadastro de vendedores</h3>
					</div>
					<div class="card-body">
						<br>
						<a href="/cadastrarVendedor" class="btn btn-success">Cadastrar vendedor</a>
						<a href="/vendedores" class="btn btn-primary">Listar vendedores</a>
						<br>
						<br>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<br>
	
	<script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" 
		crossorigin="anonymous">
	</script>
</body>
</html>